services:
  report:
    build: .
    container_name: homelab-report
    restart: "no"
    volumes:
      - ${CONFIG_PATH}:/app/config/config.yaml
    labels:
      ofelia.enabled: "true"
      ofelia.job-run.homelab-report.schedule: "0 0 8 * * 1"
      ofelia.job-run.homelab-report.command: "python main.py"

  scheduler:
    image: mcuadros/ofelia:latest
    container_name: homelab-scheduler
    depends_on:
      - report
    command: daemon --docker
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: always